body{
  background-image: url("./images/backgroundimg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card
{
  border:2px solid black;
}
.card>.back>img
{
  width:15vw;
  transition: transform 0.5s;
  height: 100px;
}
.card>.back>img:hover
{

  transform: scale(1.2);
}


.home
{
  display: flex;
  flex-wrap: wrap;
  width:80vw;
}
.card>.front,.card>.vanished
{
  width:15vw;
  border:1px solid black;
  height:100px;
  text-align: center;
}
.card>.front>b
{
position: relative;
top:40px;
}
.matchedcount
{
  width:22vw;
  
}
.matchedcountlayout,.clickedcountlayout
{
  background-color:red;
  border-radius: 50%;
  text-align: center;
  color: azure;
  font-style: italic;
  font-size: max(1vw,8px);
}
.clickedcount
{
  width:22vw;
}
.homepage
{
  display: flex;
  width:100vw;
}
.flip
{
  animation: rotateimage 0.2s  ease-in;

}
.hide
{
  display: none;
}
@keyframes rotateimage{
0% {transform:rotateY(0deg);}

100% {transform:rotateY(360deg);}
}