.card
{
  border:2px solid black;
}
.card>.back>img
{
  width:15vw;
  transition: transform 0.5s;
  height: 100px;
}
.card>.back>img:hover
{

  transform: scale(1.2);
}
.home
{
  display: flex;
  flex-wrap: wrap;
  width:80vw;
}
.card>.front,.card>.vanished
{
  width:15vw;
  border:1px solid black;
  height:100px;
  text-align: center;
}
.card>.front>b
{
position: relative;
top:40px;
}
.matchedcount
{
  width:22vw;
  
}
.clickedcount
{
  width:22vw;
}
.homepage
{
  display: flex;
  width:100vw;
}
.flip
{
  animation: rotateimage 0.5s linear;
}
@keyframes rotateimage{
0% {transform:rotate(0deg);}

100% {transform:rotate(360deg);}
}